# Entorno virtual (tu carpeta env)
env/
.venv/

# Base de datos local de SQLite
db.sqlite3

# Caché de Python
__pycache__/
*.py[cod]

# Archivos generados por pytest u otras pruebas
.coverage
htmlcov/
.tox/
.pytest_cache/

# Archivos de configuración local
*.env
.env

#Archivos temporales en carpetas de migraciones
migrations/
**/migrations/*.pyc
**/migrations/__pycache__/

media/