{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Empresa</title>
    <link rel="stylesheet" href="{% static '/css/company.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-list">
            <li>
                <a href="/admin/" class="{% if request.path == '/admin/' %}active{% endif %}">⚙️ Admin</a>
            </li>
            <li>
                <a href="{% url 'company_details' %}">🏢 Compañía</a>
            </li>
            <li>
                <a href="{% url 'dashboard_email' %}">✉️ Emails</a>
            </li>
            <li>
                <a href="{% url 'statistics_dashboard' %}">📊 Ver Estadísticas</a>
            </li>
        </ul>
    </nav>
    <div class="company-container">
        <h1 id="company-name">Cargando...</h1>
        <img id="company-logo" alt="Logo de la empresa">
        <table border="1" cellpadding="8" style="border-collapse: collapse; text-align: center;">


    <script src="{% static '/js/company.js' %}"></script>
</body>
</html>
