{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <style>
    .panel { display: none; }
    .panel.active { display: block; }
    .nav-buttons { margin-bottom: 20px; }
    .nav-buttons button {
        padding: 10px 15px;
        margin-right: 10px;
        border-radius: 6px;
        cursor: pointer;
    }
  </style>
</head>
<body>
      <nav class="navbar">
        <ul class="navbar-list">
            <li>
                <a href="/admin/" class="{% if request.path == '/admin/' %}active{% endif %}">⚙️ Admin</a>
            </li>
            <li>
                <a href="{% url 'company_details' %}">🏢 Compañía</a>
            </li>
            <li>
                <a href="{% url 'dashboard_email' %}">✉️ Emails</a>
            </li>
            <li>
                <a href="{% url 'statistics_dashboard' %}">📊 Ver Estadísticas</a>
            </li>
        </ul>
    </nav>
    <div class="container">
      <h1>📌 Dashboard</h1>

    <div class="nav-buttons">
      <button class="btn" onclick="showPanel('email')">📧 Email Restore</button>
      <button class="btn" onclick="showPanel('password')">🔑 Password Restore</button>
      <button class="btn" onclick="showPanel('verification')">✅ Verification</button>
    </div>

    <div id="email" class="panel active">
      {% include "emails/email_restore.html" %}
    </div>

    <div id="password" class="panel">
      {% include "emails/password_restore.html" %}
    </div>

    <div id="verification" class="panel">
      {% include "emails/verification.html" %}
    </div>
  </div>

  <script>
    function showPanel(panelId) {
      document.querySelectorAll('.panel').forEach(p => p.classList.remove('active'));
      document.getElementById(panelId).classList.add('active');
    }
  </script>
</body>
</html>
